body{
    font-size: 14px;
    font-weight: 500;
}
.bg-light {
    background-color: #ffffff!important;
}
.canvas{
    padding: 60px;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .9rem;
    padding-left: .9rem;
}
.h1, h1 {
    font-size: 36px;
}
