{% load i18n %}

{% if message_sended %}
  <strong>{% trans "Your message is sent successfully" %}</strong>
{% else %}


<form id="contact_us_form" action="./" class="contact_us_form form_type_1 clearfix" method="POST">
  {% csrf_token %}
  <div class="contact_us_form_left">
      <label>Name</label>
    {{ form.name }}
      <label>Email Address</label>
    {{ form.email }}
      <label>Subject</label>
    {{ form.mail_object }}
  </div>
  <div class="contact_us_form_right">
      <label>Message</label>
    {{ form.text }}
  </div>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>

{% endif %}